[Desktop Entry]
Name=BeeRef
Comment=BeeRef 0.3.2
Terminal=false
Exec=/home/yourname/path/to/BeeRef-0.3.2-linux
Type=Application
Icon=/home/yourname/path/to/logo.png
Name[en_US]=BeeRef

MimeType=application/x-beeref;
Categories=Qt;KDE;Graphics;
X-KDE-NativeMimeType=application/x-beeref
X-KDE-ExtraNativeMimeTypes=
